---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Biografia | Biografia di Giovanna Santoro',
	description: 'La biografia di Giovanna Santoro "Pianista" e il Quartetto Crom4tiche',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1 class="text-smoke">Giovanna Santoro</h1>
			<h3 class="text-smoke  marg ">Pianista</h3>
			<h4 class="text-smoke">Esperienza e Formazione:</h4>
			<p class="text-smoke">
				Giovanna Santoro ha conseguito la laurea, vecchio ordinamento, in
				pianoforte, presso il Conservatorio musicale “O.Respighi” di Latina, nel
				1999. In seguito ha approfondito lo studio della tecnica pianistica con
				il maestro Licia Mancini e Giandomenico Gravina, partecipando anche a
				vari concorsi internazionali, con i violinisti Alessandro Malizia e
				Irene Malizia, aggiudicandosi primi e secondi premi. Continua la sua
				formazione a Gallarate sotto la guida del maestro Rucli, nel biennio
				superiore di pianoforte presso l’Istituto musicale superiore di
				Gallarate. Pianista versatile, svolge diverse attività artistiche in
				varie tipologie di formazioni artistiche e ampio repertorio, pianista
				solista, in duo pianistico a 4 mani, cameristica sia con strumenti a
				fiato che ad arco, pianista accompagnatore in concerti lirici e sacri
				con cantanti lirici e non, e pianista accompagnatore in concerti corali.
			</p>
		</div>
		<picture slot="image-container">
			<img
				class="fade-in-image"
				src="/assets/images/home/Giovanna-Santoro.jpg"
				alt="Giovanna-Santoro"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<p>
			Dal 1998 al 2022 ricopre il ruolo di pianista accompagnatore del coro
			polifonico professionista “Josquin Des Pres”, diretto dal maestro Mauro
			Gizzi, ora direttore del conservatorio musicale “Licinio Refice” di
			Frosinone. Con il suddetto coro ha partecipato a molteplici tournee, in
			Francia, Olanda, Slovacchia, Repubblica Ceca, Belgio e in Germania,
			esibendosi in teatri e sale da concerto prestigiose.
		</p>
		<p>
			Inoltre ha partecipato a numerose trasmissioni televisive, “Scalo 76
			talent” nel 2009, “Furore” nel 2010, scritturata, come pianista
			dall’ufficio Rai di Milano e dall’ufficio mediaset di Roma, e
			radiofoniche, come “Poltronissima e la “Barcaccia” condotte dal maestro
			Enrico Stinchelli. Nel 2001 ha collaborato con Pippo Franco al “Fiuggi
			Festival”, in qualità di pianista solista e accompagnatore del coro
			“Josquin Des Pres” in diverse performance musicali.
		</p>

		<p>
			Dal 2003 ha collaborato con il clarinettista Nicola Bulfone, primo
			clarinetto dell’orchestra sinfonica del Friuli Venezia Giulia, inoltre,
			come concertista solista, ha preso parte della rassegna “I concerti al
			teatro delle Erbe” di Milano, sotto la direzione artistica di Antonio
			Bonello e Cristina D’Avena. Nel periodo milanese, dal 2002 al 2010, ha
			svolto un’intensa attività concertistica in parecchie formazioni
			operistiche e strumentali, acquisendo così una sempre più vasta conoscenza
			dei diversi repertori musicali. Nel 2013 ha partecipato al “Festival dei
			due mondi” a Spoleto, come pianista nell’orchestra di Monsignor Marco
			Frisina.
		</p>
		<p>
			La sua passione per la musica e l’arte in generale, l’ha spinta a
			coltivare un interesse per approfondire e perfezionare il suo stile
			espressivo e tecnico, studiando in varie master-class, con grandi colossi
			della musica pianistica, quali, il maestro Paul Badura Skoda, Carlo Levi
			Minzi e Mara Morelli.
		</p>
		<p>
			Attualmente svolge attività concertistica con il trio “Renaissance”,
			insieme al soprano Rezarta Dyrmyshi e all’oboista Enio Marfoli e con il
			quartetto “Crom4tiche” formato da tre soprano ( Rezarta Dyrmyshi, Ramona
			Veneri e Lorena Sarra) e pianoforte, i cui repertori spaziano dall’opera
			lirica al musical. Con il gruppo musicale “Endless Road” composto da
			ragazzi di età compresa tra i 7 e i 12 anni, ha prodotto due video
			musicali, “Parola al coronavirus” nel 2020 e “In cammino (adesso basta)”
			nel 2022, una richiesta di pace nel mondo, i cui testi sono stati scritti
			e cantati dall’adolescente Ludovica Buzzi, per il quale ha ottenuto un
			elogio scritto dalla presidenza della Repubblica italiana.
		</p>
		<p style="font-style: italic;">
			“ Sempre molto sensibile ai temi sociali che affliggono il nostro tempo,
			ha suonato in molte occasioni a scopo benefico.”
		</p>
	</TextSection>
	<h2 id="title">Formazione “Quartetto Crom4tiche”</h2>

	<HeroSection>
		<div slot="text-container">
			<h1 class="text-smoke">Rezarta Dyrmyshi</h1>
			<h3 class="text-smoke  marg ">Cantante Lirica Soprano</h3>
			<h4 class="text-smoke">Esperienza e Formazione:</h4>
			<p class="text-smoke">
				Durante la permanenza a Tirana svolge diverse attività artistiche tra
				cui per il “Pax Day”, uno tra i più importanti cori dell’Albania .La sua
				voce viene subito apprezzata per la sua purezza, per il colore limpido e
				caldo tanto che viene nominata “la voce di cristallo “. La sua grande
				passione per la musica, e l’arte in generale, la spinge a coltivare un
				interesse particolare anche per altri generi musicali quali : colonne
				sonore , musicals e pop. Spinta da questo interesse, In collaborazione
				con la “Mediterraneos Productions srl” incide in c.d alcuni brani famosi
				riportati in veste lirica presentato per la prima volta al “Premio
				Eudonna”. Recentemente ha vinto il 1° al concorso “Il Cantagiro”, per la
				sezione lirico popinternazionale. Successivamente fara parte nel musical
				“Salvo D’Acquisto” diAntonio Pappalardo.
			</p>
		</div>
		<picture slot="image-container">
			<img
				class="fade-in-image"
				src="/assets/images/home/Rezarta-Dyrmyshi.png"
				alt="Rezarta-Dyrmyshi"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<p>
			Svolge un intensa attività
			concertistica sia operistica che in formazione da camera. Ha fondato
			insieme all'oboista Enio Marfoli e la pianista Federica Simonelli il
			"Trio Mission" con un vasto repertorio che spazia dal genere classico,
			alle colonne sonore, e alla musica pop. Oltre alla attività
			concertistica si dedica al l'insegnamento riguardo la tecnica vocale.<br>
			Le varie esperienze nel campo operistico messi in scena sono :
			<ul>
			<li>Dalla Serva Padrona di G. B. Pergolesi "Serpina". </li>
			<li>Dal Matrimonio segreto di D. Cimarosa "Carolina". </li>
			<li>Dalle Nozze di Figaro di W. A. Mozart "Susanna ". </li>
			<li>Dal Rigoletto di G. Verdi "Gilda ".</li>
			<li>Dalla Lucia di Lammermoor di G.Donizetti "Lucia ".</li>
			<li>Da La bohème di G. Puccini "Mimmi " e " Musetta ".</li>
			<li>Dalla Turandot di G. Puccini "Liu".</li>
			<li>Da La Traviata di G. Verdi "Violetta".</li>
			</ul>

			ISTRUZIONE :<br>
			Rezarta Dyrmyshi ha consegue il compimento superiore di canto
			presso il liceo artistico "Onufri ", Elbasan (Albania). Prosegue gli studi
			nell’ "Accademia delle belle Arti" di Tirana. Vince una borsa di studio
			con il massimo dei voti indirizzata ai giovani talenti. Successivamente
			prosegue gli studi presso il Conservatorio di musica “Santa Cecilia” di
			Roma. Partecipa a diverse master class tra cui quella con il soprano
			Daniela Dessi e il tenore Giuseppe Sabatini.
		</p>
	</TextSection>

	<HeroSection>
		<div slot="text-container">
			<h1 class="text-smoke">Ramona Veneri</h1>
			<h3 class="text-smoke  marg ">Cantante Lirica Soprano</h3>
			<h4 class="text-smoke">Esperienza e Formazione:</h4>
			<p class="text-smoke">
				Cantante lirica e leggera con esperienza conseguita sotto la
				guida degli insegnanti Melissa Caputo e Aurelio Santalena ed
				esperienza di 10 anni nel settore. Seria e affidabile, ha lavorato
				nel ruolo di Esmeralda nella rivisitazione del “Il Gobbo di
				Notredame” e nel ruolo di Santa Chiara nel musical “Forza
				venite gente” in compagnie amatoriali. Partecipazione a
				concerti lirici ed eventi organizzati dall’orchestra “Note Blu”
				presso l’Abbazia di San Nilo e concerto in occasione della serata
				di Gala in beneficenza per la ricostruzione di Norcia e
				Castelluccio di Norcia. Appassionata di musica canto lirico e
				Musical Theatre, può contare su disciplina e solida
				preparazione tecnica. Disponibile a collaborazioni su progetti
				dinamici e brillanti.
			</p>
		</div>
		<picture slot="image-container">
			<img
				class="fade-in-image"
				src="/assets/images/home/Ramona-Veneri.jpg"
				alt="Rezarta-Dyrmyshi"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<p>
			<em>Capacità e Competenze</em> <br>
			<ul>
			<li>Tecniche di respirazione</li>
			<li>Tecniche e stili vocali</li>
			<li>Musica da camera</li>
			<li>Capacità espressive</li>
			<li>Ampia gamma di stili musicali</li>
			<li>Registrazioni in studio</li>
			<li>Esperienze orchestrali e corali</li>
			<li>Specializzazione in canto lirico</li>
			<li>Capacità di autocritica</li>
			</ul>

			<em>Esperienze lavorative e professionali</em> <br>
			<ul>
			<li>Concerti in d’arie d’opera</li>
			<li>Studio e interpretazione delle arie d’opera di Puccini, Verdi,
				Bizet, Mozart, Donizzetti.</li>
			<li>Studio e ricerca delle tecniche di canto dal 2007 ad oggi.</li>
			<li>Organizzazione e preparazione del repertorio musicale jazz,
				bossa nova, lirico e pop</li>
			<li>Esibizioni di canto in collaborazione con artisti del teatro
				dell’Opera di Roma</li>
			<li>Esibizioni di canto recitazione e ballo in collaborazione con la
				Compagnia dei nuovi Folli</li>
			<li>Partecipazione a Stage di uno o più giornate con Graziano
				Galatone, Matteo Setti, Leonardo Di Minno.</li>
			<li>Collaborazioni e stage con il Maestro e Direttore d’orchestra
				Luigi Petrozziello, Antonio Pergolizzi, Roberto Lorenzetti, e
				musicisti come Alberto Caneva, Alessandro Grossi.</li>			
			</ul>
			
		</p>
	</TextSection>

	<HeroSection>
		<div slot="text-container">
			<h1 class="text-smoke">Ramona Veneri</h1>
			<h3 class="text-smoke  marg ">Cantante Lirica Soprano</h3>
			<h4 class="text-smoke">Esperienza e Formazione:</h4>
			<p class="text-smoke">
				diplomata in pianoforte e in canto lirico presso il conservatorio di musica
				“L.Refice” di Frosinone, sotto la guida dei M° Vittoria Forgià ed Emanuela 
				De Santis Salucci. Ha
				studiato canto jazz con Carla Marcotulli. Ha vestito i panni di Zerlina nel “Don Giovanni” e del
				pastorello in “Tosca” , presso il teatro Italia di Roma. Fa parte di molte formazioni musicali e cori,
				come quello pucciniano (Coro Lirico Toscano) di Torre del Lago. Ha frequentato corsi
				internazionali di perfezionamento tenuti a Norcia e Norma e il seminario di canto jazz con Cinzia
				Spata a Fara Sabina e quello di”Scat vocale”con Bob Stoloff. Si è esibita in prestigiose sedi
				musicali quali: il Teatro Flavio Vespasiano di Rieti, Teatro Maria Caniglia di Sulmona, Teatro
				Olimpico di Roma, Tetro comunale di Fiuggi, Teatro Ghione di Roma e a Clisson in Francia..Ha
				vinto premi e concorsi nazionali.
			</p>
		</div>
		<picture slot="image-container">
			<img
				class="fade-in-image"
				src="/assets/images/home/Lorena-Sarra.jpeg"
				alt="Rezarta-Dyrmyshi"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection />

	<h2 id="title">Collaborazione con il compositore “Prisco Santoro”</h2>

	<HeroSection>
		<div slot="text-container">
			<h1 class="text-smoke">Prisco Santoro</h1>
			<h3 class="text-smoke  marg ">Compositore</h3>
			<h4 class="text-smoke">Esperienza e Formazione:</h4>
			<p class="text-smoke">
				<ul>
					<li>Ha cominciato a suonare all'età di soli sette anni, studiando Fisarmonica, 
						strumento che non ha mai abbandonato;</li>
					<li>Ha studiato Pianoforte principale, 
						Armonia e Canto Corale presso il Conservatorio “L. Refice” di Frosinone.</li>
					<li>E' stato il FONDATORE e PRESIDENTE della COOPERATIVA MUSICALE “N. Paganini” 
						di Frosinone, che si è imposta all'attenzione degli addetti ai lavori per 
						essere stata la prima Scuola di Musica frusinate alternativa al Conservatorio 
						di Musica “L. Refice”, per i Corsi che proponeva e le idee innovative per la 
						programmazione di moltissimi concerti di musica classica e leggera, accompagnati 
						dalla degustazione di tè o aperitivi; questi Concerti erano proposti in luoghi non 
						propriamente canonici per l'esecuzione dei Concerti come, ad esempio, le Hall degli 
						alberghi; inoltre i Corsi di musica sono stati portati in vari comuni della provincia 
						di Frosinone.</li>
				</ul>
			</p>
		</div>
		<picture slot="image-container">
			<img
				class="fade-in-image"
				src="/assets/images/home/Prisco-Santoro-2.jpeg"
				alt="Rezarta-Dyrmyshi"
				id="home-hero-image"
			/>
		</picture>	
	</HeroSection>
	<TextSection narrow>
		<p>
		<ul>
			<li>Ha insegnato musica presso alcune scuole elementari e medie.</li>
			<li>Ha suonato come pianista-cantante sulle navi da crociera per circa tre anni ed ha 
						fatto diverse esperienze musicali come cantautore e compositore.</li>
			<li>Ha suonato per tanti anni in vari locali sia con gruppi musicali sia come pianista di 
						piano bar.</li>
			<li>Ha svolto intensa attività artistica con innumerevoli Concerti d'autore ed ha ricevuto 
						diversi riconoscimenti per la qualità delle sue composizioni musicali.</li>
			<li>Ha partecipato a diversi Concorsi musicali anche nazionali tra i quali “Un'isola da 
						trovare” della RAI, “Cantiamo la vita”, “Passaporto per Sanremo”.</li>
			<li>Ha collaborato per anni con diversi quotidiani occupandosi degli eventi culturali di
						 Frosinone e provincia.</li>
			<li>Ha pubblicato nel 2007 l’album “ISTANTI”, con le Edizioni Rai Trade.</li>
			<li>Ha pubblicato nel 2012 l’album “MOMENTI D’INCANTO” con le Edizioni Rouge et Noir.</li>
		</ul>
			<em>Per ulteriori informazioni contattare :   <a href="mailto:informazioni@priscosantoro.it">
				informazioni@priscosantoro.it</a></em> 
		</p>
	</TextSection>
	
	
</Layout>

<style>
	.text-smoke {
		text-shadow: 0 0 0 whitesmoke;
		animation: smoky 2.5s ease-in-out;
		 /* animation-direction: reverse; */
	}
	.marg {
		margin-top: -20px;
	}

	@keyframes smoky {
		0% {
			transform: translate3d(10px, -300px, 0) /* skewX(70deg)  rotate(-20deg)  */
				scale(0.5);
			text-shadow: 20px 20px 30px whitesmoke;
			opacity: 0;
		}
		50% {
			opacity: 0.1;
		}
		100% {
			opacity: 1;
		}
	}
	.fade-in-image {
		animation: fadeIn 9s;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	#title {
		opacity:0.7 ;
		text-align: center;
		font-size: var(--font-size-lg);

	}
	.img-center {
		display: flex;
		justify-self: center;
		text-align: center;
	}
</style>
