---
import Layout from '../layouts/Page.astro';
import ImageSection from '../components/sections/heros/ImageSection.astro';
import { TextSection, Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Formazioni Artistiche | Formazioni Artistiche con Gionanna Santoro',
	description:
		'Le Formazioni Artistiche e le Collaborazioni di Giovanna Santoro "Pianista"',
};
---

<Layout {seo}>
	<Container>
		<TextSection narrow>
			<h1 class="textCenter">Formazioni Artistiche di Giovanna Santoro</h1>
		</TextSection>

		<TextSection narrow>
			<h3 class="styleText">Quartetto Crom4tiche</h3>
		</TextSection>

		<ImageSection>
			<picture slot="image-container-1">
				<!-- <h3>Quartetto Crom4tiche</h3> -->
				<img
					class="fade-in-image"
					src="/assets/images/galleria/Giovanna-Santoro.jpg"
					alt="Giovanna-Santoro"
					id="home-hero-image"
					width={450}
					height={700}
				/>
				<p>Giovanna Santoro (Pianista)</p>
			</picture>
			<picture slot="image-container-2">
				<img
					class="fade-in-image marginPhoto"
					src="/assets/images/home/Lorena-Sarra.jpeg"
					alt="Lorena-Sarra"
					id="home-hero-image"
					width={450}
					height={700}
				/>
				<p>Lorena Sarra (Cantante Lirica Soprano)</p>
			</picture>
		</ImageSection>

		<TextSection />

		<ImageSection>
			<picture slot="image-container-1">
				<!-- <h3>Quartetto Crom4tiche</h3> -->
				<img
					class="fade-in-image"
					src="/assets/images/home/Ramona-Veneri.jpg"
					alt="Ramona-Veneri"
					id="home-hero-image"
					width={450}
					height={700}
				/>
				<p>Ramona Veneri (Cantante Lirica Soprano)</p>
			</picture>
			<picture slot="image-container-2">
				<img
					class="fade-in-image marginPhoto"
					src="/assets/images/galleria/Rezarta-Dyrmyshi.png"
					alt="Rezarta-Dyrmyshi"
					id="home-hero-image"
					width={450}
					height={700}
				/>
				<p>Rezarta-Dyrmyshi (Cantante Lirica Soprano)</p>
			</picture>
		</ImageSection>

		<TextSection narrow>
			<h3 class="styleText">EndlessRoad</h3>
		</TextSection>

		<ImageSection>
			<picture slot="image-container-1">
				<img
					class="fade-in-image"
					src="/assets/images/home/endless-road-1.webp"
					alt="Endless-Road"
					id="home-hero-image"
					width={700}
					height={700}
				/>
				<p>
					Cantante Solista: Ludovica Buzzi, Violinista: Tamari Garavito Garau,
					Batterista: Andrea Racciatti, Corista Solista: Arianna Pica, Francesca
					Tarzia
				</p>
			</picture>
			<picture slot="image-container-2">
				<img
					class="fade-in-image marginPhoto"
					src="/assets/images/home/endless-road.webp"
					alt="Endless-Road"
					id="home-hero-image"
					width={450}
					height={700}
				/>
				<p>Bambini Comparse e Coro Finale</p>
			</picture>
		</ImageSection>

		<ImageSection>
			<picture slot="image-container-1">
				<img
					class="fade-in-image"
					src="/assets/images/home/Prisco-Santoro-2.jpeg"
					alt="Endless-Road"
					id="home-hero-image"
					width={754}
					height={754}
				/>
				<p>Prisco Santoro (Compositore)</p>
			</picture>
			<picture slot="image-container-2">
				<img
					class="fade-in-image marginPhoto"
					src="/assets/images/home/Giovanna.jpeg"
					alt="Endless-Road"
					id="home-hero-image"
					width={754}
					height={754}
				/>
				<p>Giovanna Santoro (Pianista)</p>
			</picture>
		</ImageSection>

		<TextSection />
	</Container>
</Layout>

<style>
	.textCenter {
		text-align: center;
	}
	.styleText {
		margin-top: 100px;
		text-decoration: underline;
	}
	/* .marginPhoto {
		margin-top: 20px;
	} */
</style>
