---
import Layout from '../layouts/Page.astro';
import ImageSection from '../components/sections/heros/ImageSection.astro';

const seo = {
	title: 'Galleria | Galleria immagini Gionanna Santoro',
	description: 'Galleria Immagini',
};
---

<Layout {seo}>
	<ImageSection>
		<picture slot="image-container-1">
			<img
				class="fade-in-image"
				src="/assets/images/home/Giovanna-Santoro.jpg"
				alt="Giovanna-Santoro"
				id="home-hero-image"
			/>
		</picture>
		<picture slot="image-container-2">
			<img
				class="fade-in-image"
				src="/assets/images/home/Rezarta-Dyrmyshi.png"
				alt="Giovanna-Santoro"
				id="home-hero-image"
			/>
		</picture>
	</ImageSection>

	<ImageSection>
		<picture slot="image-container-1">
			<img
				class="fade-in-image"
				src="/assets/images/home/Rezarta-Dyrmyshi.png"
				alt="Giovanna-Santoro"
				id="home-hero-image"
			/>
		</picture>
		<picture slot="image-container-2">
			<img
				class="fade-in-image"
				src="/assets/images/home/Giovanna-Santoro.jpg"
				alt="Giovanna-Santoro"
				id="home-hero-image"
			/>
		</picture>
	</ImageSection>
	<!-- <ImageSection>
		<div slot="text-container">
			<img
				class="fade-in-image"
				src="/assets/images/home/Giovanna-Santoro.jpg"
				alt="Giovanna-Santoro"
				id="home-hero-image"
			/>
		</div>
		<picture slot="image-container">
			<img
				class="fade-in-image"
				src="/assets/images/home/Giovanna-Santoro.jpg"
				alt="Giovanna-Santoro"
				id="home-hero-image"
			/>
		</picture>
	</ImageSection> -->
</Layout>

<style>
	.fade-in-image {
		animation: fadeIn 9s;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>
