---
import Layout from '../layouts/Page.astro';
import {
	StickyTextImageSection,
	Button,
	TextSection,
} from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Recensioni | Recensioni di Giovanna Santoro',
	description: 'Le Recensioni di Giovanna Santoro "Pianista" ',
};
---

<Layout {seo}>
	<TextSection narrow>
		<h1 class="title">Recensioni di <br />Giovanna Santoro</h1>
	</TextSection>

	<StickyTextImageSection reversed>
		<div slot="text-container" id="il-dispari">
			<h2>Il Dispari 21/06/2021 - Redazione culturale DILA</h2>
			<!-- <h3>SEO</h3> -->
			<p>
				Giovanna Santoro, nuova amica dei progetti culturali Made in Ischia Il
				concerto organizzato dall’Attrice e Regista Chiara Pavoni, nella sua
				funzione di Presidente di Sede operativa dell’Associazione culturale “Da
				Ischia L’Arte - DILA”, che si è volto, alla fine del mese di maggio
				nella splendida location romana “Interno 4”, per rendere omaggio alle
				musiche composte dal maestro Roberto Prandin su testi di Bruno Mancini,
				ha visto la partecipazione di tre brave e belle cantanti di musica
				classica accompagnate dalla pianista Giovanna Santoro.
			</p>

			<p>
				Avremo modo nelle prossime settimane di presentarvi le tre soprano,
				Lorena Sarra, Maria Letizia De Berardinis, Rezarta Dyrmyshi, mentre oggi
				richiamiamo la vostra attenzione verso la pianista Giovanna Santoro che
				è stata l’esecutrice della partitura musicale, di notevoli difficoltà
				tecniche ed interpretative, che ha accompagnato tutti i brani del
				concerto.
			</p>

			<p>
				Giovanna Santoro è una pianista molto versatile in grado di esprimersi
				ad un alto livello professionale, sia nel ruolo di solista, sia in
				formazioni concertistiche comunque composte, sia come accompagnatrice in
				concerti lirici e sacri con cantanti solisti o con formazioni corali.
				Come solista, il suo vasto repertorio spazia dal barocco al periodo
				contemporaneo. Ha avuto modo di prendere parte a molteplici tournee in
				Francia, Slovacchia, Belgio, Repubblica Ceca e Germania.
			</p>
			<p>
				Ha partecipato a varie trasmissioni radiofoniche e televisive:
				“Poltronissima” e “La Barcaccia” condotte da Enrico Stinchellae, e alla
				diretta mondiale su Rai uno in occasione dell’incontro nazionale di
				Azione Cattolica con il Papa Wojtila presso Piazza San Pietro in
				Vaticano. Come solista ha accompagnato il cantante Cusumano in quattro
				puntate su Rai due, nel programma “Scalo76 talent”. Come pianista
				solista ha fatto parte di una puntata della fiction televisiva “Furore”;
				è stata ospite di “La prosa di RADIODUE; si è esibita in performance
				musicali al “Fiuggi Festival” sotto la direzione di Pippo Franco; e
				nella rassegna “I concerti al teatro delle Erbe” di Milano con la
				Direzione artistica di Antonio Bonello. Pianista in vari concerti del
				clarinettista Nicola Bulfone (primo clarinetto dell’orchestra del Friuli
				Venezia Giulia); pianista accompagnatrice del Coro “Novi Cantores”
				diretto dal M° Giandomenico Gravina; pianista accompagnatrice in
				sessioni di esami in Conservatori tra cui il “G: Verdi” di Milano e, per
				il canto, alla Scala. Vanno segnalate, inoltre, numerose sue esibizioni
				con la Corale “Beata Maria De Matthias” di Frosinone, ed altre,
				ugualmente numerose, con il coro polifonico “Josquin Des Pres” diretto
				dal M° Mauro Gizzi e, tra le sue numerose attività, è degna di nota la
				sua partecipazione in concerto con orchestra con il M° Marco Frisina al
				“Festival Dei Due Mondi” di Spoleto del 2012.
			</p>
			<p>
				Primo premio al concorso internazionale musicale di Cortemilia;
				Commissario di commissione esaminatrice nei concorsi musicali della
				Città di Tradate. Insegnante di pianoforte principale presso la scuola
				“Green Music” di Segrate, l’Accademia filarmonica di Cardano al campo,
				il “Fabro Armonioso” di Saronno.
			</p>
			<p>
				Organizzatrice di eventi e concerti lirici e strumentali, in
				collaborazione con Enti pubblici e strutture private, Giovanna Santoro,
				sensibile ai temi sociali, ha suonato in diverse occasioni per serate
				benefiche, anche per associazioni animaliste.
			</p>
			<p>
				Ci sarebbe molto altro da dire sulla carriera e sui premi ricevuti da
				Giovanna Santoro, ma, per ora, l’Associazione culturale “Da Ischia
				L’Arte - DILA” la ringrazia per la disponibilità e per la
				professionalità, rivolgendole un caloroso “BENVENUTA”.
			</p>
			<p>
				D’altra parte, crediamo che avremo presto l’opportunità di ascoltarla a
				Ischia, in presenza, poiché la dinamica e volitiva Chiara Pavoni nutre
				l’ambizione di riproporre il concerto, qui da noi sull’isola, non appena
				la situazione sanitaria e le norme relative agli eventi pubblici lo
				consentiranno, invitando, fin da ora, i responsabili delle strutture
				pubbliche e private ischitane a proporre la candidatura delle loro
				location.
			</p>
			<Button
				outlined
				href="https://www.emmegiischia.com/wordpress/il-dispari-20210621/"
				>Fonte ...
			</Button>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/Il-Dispari-20210621-tutto-ridim.jpg"
				alt="Il-Dispari-21/06/2021"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>

	<StickyTextImageSection reversed>
		<div slot="text-container">
			<h2>Ludovica Buzzi virale con Parola al Coronavirus</h2>
			<h4>Manuela Ippolito GiardiPosted On22 Settembre 2020</h4>
			<p>
				E’ diventata virale la canzone che racconta lo stato d’animo dei bambini
				durante il lockdown. Si intitola “Parola al Coronavirus” e a cantarla è
				una piccola cantautrice di 10 anni. Si tratta di Ludovica Buzzi, di
				Roma, che ha scritto il testo durante la chiusura forzata delle scuole.
				Da una bella poesia, che descrive lo stato d’animo dei bambini in questo
				difficile momento, è arrivata una canzone, portata sul pentagramma dalla
				sua insegnante Giovanna Santoro e dal Maestro Prisco Santoro. Una dolce
				ballata ,nata “a distanza” tra i alunni e insegnanti della scuola
				elementare dell’Istituto Comprensivo “Alcide De Gasperi”, nel quartiere
				Montesacro, e lanciata in questi giorni in occasione della riapertura
				delle scuole, momento molto atteso da tanti bambini.
			</p>

			<p>
				“Durante il periodo di lockdown”, ha spiegato il Maestro Prisco Santoro,
				“è iniziata una storia tutta italiana fatta di migliaia di iniziative
				socio-culturali estemporanee. E qui si inserisce la nostra storia.
				Ludovica Buzzi, una “vulcanica” bambina molto sensibile alle tematiche
				ambientali, ha scritto un testo musicale intitolandolo “Parola al
				Coronavirus”. Lei è alunna di V elementare nella scuola dove insegna mia
				sorella, la pianista Giovanna Santoro. Nel frattempo ho approfittato del
				tempo libero a disposizione in casa, per completare l’arrangiamento di
				brani già scritti recentemente e componendone di nuovi; uno in
				particolare, dal titolo “Altalena”, ha colpito l’attenzione di mia
				sorella, che lo ha fatto subito “suo” studiandone la partitura e
				proponendolo a Ludovica e alle sue allieve musiciste e coriste. Da qui è
				nato il Progetto Musicale “Parola al Coronavirus” (altalena), che ci ha
				visti impegnati prima con la stesura del testo definitivo, della
				conseguente partitura musicale e del relativo arrangiamento; quindi
				siamo passati alle prove virtuali in video-chat e infine, a lockdown
				terminato, siamo passati alla fase realizzativa con registrazione in
				studio della parte musicale e con le riprese video”.
			</p>

			<p>
				Il risultato finale è stato sorprendente. Un brano ottimamente
				interpretato da un gruppo di bambine di appena 10 anni motivatissime e
				preparate molto bene. Nel progetto sono stati coinvolti anche i
				genitori, che hanno collaborato alla realizzazione del video, che si può
				vedere su YouTube e ascoltare sulle principali piattaforme streaming.
				Oltre alla piccola Ludovica Buzzi, hanno partecipato al progetto i due
				ballerini del Teatro dell’Opera di Roma, Jacopo Giarda ed Eugenia
				Brezzi, la piccola violinista Tamarì Garavito Garau e le coriste Arianna
				Pica, Francesca Tarzia, Emma Rocchini e Mirella Rufini. La regia è di
				Andrea Vernengo. Nel cast anche le piccole Sophia Antoniu Melega e
				Mariavittoria Balzarelli.
			</p>
			<div class="btn_container">
				<Button
					outlined
					href="https://www.musicalnews.com/2020/09/22/ludovica-buzzi-virale-con-parola-al-coronavirus/"
					>Fonte ...
				</Button>
				<Button outlined href="/video/#parola_al_coronavirus">Video ...</Button>
			</div>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/endless-road-1.webp"
				alt="Endless-Road"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>
</Layout>

<style>
	.title {
		text-align: center;
	}
	.btn_container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
</style>
