---
import Layout from '../layouts/Page.astro';
import { TextSection } from '@littlesticks/odyssey-theme-components';
import {
	Button,
	CustomerQuoteSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
	Container,
} from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Video | Video di Giovanna Santoro',
	description: 'Video di Giovanna Santoro "Pianista" e sue collaborazioni',
};
---

<Layout {seo}>
	<Container>
		<TextSection narrow>
			<h1 class="title">Video di Giovanna Santoro</h1>
		</TextSection>
		<div class="youtube">
			<TextSection>
				<h3 id="parola_al_coronavirus">Parola al Coronavirus (altalena)</h3>
				<h4>Endless Road</h4>
			</TextSection>
			<YouTubeEmbedSection
				url="https://www.youtube.com/watch?v=cFUjI96Yp-4?autoplay=1"
				rounded
				allow="autoplay"
			/>
		</div>
		<TextSection narrow>
			<p>
				Parola al Coronavirus :<br />
				Durante il periodo del lockdown Ludovica Buzzi, una “vulcanica” bambina molto
				sensibile alle tematiche ambientali, scrive un testo musicale intitolandolo
				PAROLA AL CORONAVIRUS; è alunna di V^ elementare di una Scuola di Roma dove
				insegna mia sorella, la pianista Giovanna Santoro. Nel frattempo io approfitto
				del tempo libero a disposizione in casa, completando l’arrangiamento di brani
				già scritti recentemente e componendone di nuovi; uno in particolare, dal
				titolo ALTALENA, colpisce l’attenzione di mia sorella, che lo fa subito “suo”
				studiandone la partitura e proponendolo a Ludovica Buzzi e le altre sue allieve
				musiciste e coriste. Da qui è nato il Progetto Musicale “PAROLA AL CORONAVIRUS”
				(altalena), che ci ha visti impegnati prima con la stesura del testo definitivo,
				della conseguente partitura musicale e del relativo arrangiamento; quindi
				siamo passati alle prove virtuali in video-chat ed infine, a lockdown terminato,
				siamo passati alla fase realizzativa con registrazione in studio della parte
				musicale e con le riprese video. Il risultato finale è un singolo audio-video,
				che ci sembra molto fresco, bene interpretato da tutti, soprattutto da un
				gruppo di bambine di appena 10 anni motivatissime e preparate molto bene.
				Anche le coreografie ci paiono molto interessanti. Il nostro ringraziamento
				va a tutti coloro che hanno condiviso e collaborato alla realizzazione di
				questo Progetto, compresi i genitori che ci hanno supportato sin dall’inizio.
				Prisco Santoro e Giovanna Santoro
			</p>
			<ul>
				<li>Musica e Arrangiamenti : PRISCO SANTORO</li>
				<li>Testo e Cantante Solista : LUDOVICA BUZZI</li>
				<li>Pianista : GIOVANNA SANTORO</li>
				<li>
					Coriste : ARIANNA PICA , EMMA ROCCHINI , MIRELLA RUFINI , FRANCESCA
					TARZIA
				</li>
				<li>Ballerini : JACOPO GIARDA , EUGENIA BREZZI</li>
				<li>
					Con la partecipazione straordinaria delle piccole : SOPHIA ANTONIU
					MELEGA e MARIAVITTORIA BALZARELLI
				</li>
				<li>Riprese e Montaggio : ANDREA VERNENGO</li>
			</ul>
		</TextSection>

		<div class="youtube">
			<TextSection>
				<h3>In Cammino (adesso basta)</h3>
				<h4>Endless Road</h4>
			</TextSection>
			<YouTubeEmbedSection
				url="https://www.youtube.com/watch?v=w3azjGJTTEw?autoplay=1"
				rounded
				allow="autoplay"
			/>
		</div>
		<TextSection narrow>
			<p>
				PROGETTO “IN CAMMINO” (adesso basta) :<br />
				…ed anche questo nuovo “lavoro musicale” è stato condotto in porto; anche
				qui c’è stato un importantissimo contributo di Ludovica Buzzi, e stavolta
				il tema (giocoforza) che ci ha dato un’ ulteriore “spinta motivazionale”
				è stata l’invasione dell’Ucraina da parte della Russia; il testo del brano
				è eloquente in proposito: …“Adesso basta, è andato tutto in fumo, anche la
				nostra terra. Adesso basta, vogliamo finire questa maledetta guerra… Io ho
				lavorato sulla composizione e sugli arrangiamenti del brano, mia sorella
				Giovanna ha lavorato per mettere a punto il coro dei bambini e dopo diverse
				prove, è stato registrato il brano definitivo in studio, sono quindi state
				fatte le riprese video ed anche qui il risultato finale è un singolo audio-video
				molto orecchiabile, bene interpretato da tutti, soprattutto da un gruppo
				di bambini di appena 12 anni motivatissimi. La parte finale del video in
				presa diretta in esterna ci pare molto suggestivo. Ora auspichiamo di poter
				avere tantissime visualizzazioni e di poter avere, attraverso la divulgazione
				del brano, la possibilità di raccogliere Fondi per aiutare i bambini ucraini
				arrivati in Italia dopo essere fuggiti da questa “maledetta guerra”, come
				recita il testo della canzone. Il nostro ringraziamento va a tutti coloro
				che hanno condiviso e collaborato anche alla realizzazione di questo nuovo
				Progetto, compresi i genitori che ci hanno supportato sin dall’inizio, e
				che contiamo di coinvolgere per divulgarlo il più possibile. Prisco Santoro
				e Giovanna Santoro
			</p>
			<ul>
				<li>Musica e Arrangiamenti: Prisco Santoro</li>
				<li>Pianista e Direzione Coro: Prisco Giovanna</li>
				<li>Testo e Cantante Solista: Ludovica Buzzi</li>
				<li>Violinista: Tamari Garavito Garau</li>
				<li>Batterista: Andrea Racciatti</li>
				<li>Riprese e Montaggio Video: Andrea Vernengo</li>
				<li>Fonico: Cristiano Pernice</li>
				<li>
					Corista Solista: Cristiano Pernice, Arianna Pica, Francesca Tarzia,
					Enrico Ceccomancini, Emma Rocchini
				</li>
				<li>Con La Partecipazione di PERLA AGNESI</li>
				<li>
					Bambini Comparse e Coro Finale: Sophie Manzi, Federico Pica, Joele
					Alterani, Sofia Bagalà, Alessio Bianconi, Salvatore Castelli, Emanuele
					Cristi, Damiano Di Claudio, Simone Fazio, Christian Floccari, Nicole
					Manzi, Noemi Marinelli, Lavinia Montereale, Valentina Porreca, Flavia
					Ridolfi, Daniela Scorfani, Eugenia Sciascia, Simona Terenzi, Giorgia
					Torres.
				</li>
				<li>
					DEDICATO A TUTTI I BAMBINI VITTIME DELLA GUERRA<br /> A nonna Paola, nonno
					Mimis, nonna Giuseppina e nonno Agostino.
				</li>
			</ul>
		</TextSection>

		<div class="youtube">
			<TextSection>
				<h3>Concerto Prandin Mancini</h3>
				<h4>Quartetto Crom4tiche</h4>
			</TextSection>
			<YouTubeEmbedSection
				url="https://www.youtube.com/watch?v=-FPmZf59hjM?autoplay=1"
				rounded
				allow="autoplay"
			/>
		</div>
		<TextSection narrow>
			Il concerto organizzato dall’Attrice e Regista Chiara Pavoni, nella sua
			funzione di Presidente di Sede operativa dell’Associazione culturale “Da
			Ischia L’Arte - DILA”, che si è volto, alla fine del mese di maggio nella
			splendida location romana “Interno 4”, per rendere omaggio alle musiche
			composte dal maestro Roberto Prandin su testi di Bruno Mancini, ha visto
			la partecipazione di tre brave e belle cantanti di musica classica
			accompagnate dalla pianista Giovanna Santoro.
			<Button outlined href="/recensioni/#il-dispari">continua ...</Button>
		</TextSection>

		<div class="youtube">
			<TextSection>
				<h3>LA MAMMA MORTA - U. GIORDANO</h3>
				<h4>Soprano: MARIA CARMEN FALSTAFFI -- Piano: GIOVANNA SANTORO</h4>
			</TextSection>
			<YouTubeEmbedSection
				url="https://www.youtube.com/watch?v=mLd1-rfzQPI?autoplay=1"
				rounded
				allow="autoplay"
			/>
		</div>
	</Container>
</Layout>

<style>
	@media only screen and (min-width: 768px) {
		.youtube {
			margin: var(--section-margin) 70px;
		}
	}
	.title {
		text-align: center;
	}
</style>
