---
import { Icon } from 'astro-icon';
import { Container, Button } from '@littlesticks/odyssey-theme-components';
import settings from '../../../config/settings.js';
import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h1>
					<span>G</span>
					<span>i</span>
					<span>o</span>
					<span>v</span>
					<span>a</span>
					<span>n</span>
					<span>n</span>
					<span>a</span>
					<span>S</span> <span>a</span> <span>n</span> <span>t</span>
					<span>o</span> <span>r</span> <span>o</span>

				</h1>
				<h3>Quartetto Crom4tiche</h3>
				<div class="hero-btns__container">
					<Button href="/company/contact" customIcon
						>Biografia
						<Fragment slot="icon">
						<Icon name="ic:baseline-chevron-right"/>
						</Fragment>
            		</Button>

					<Button href="/theme/style-guide" outlined>Galleria</Button>
				</div>
        {settings.enableThemeSwitcher && <ThemeSwitcher client:load/>}
		</div>
		<div class="hero-section__image">
				<picture>
					<img
						src="/assets/images/home/Giovanna.jpeg"
						alt="Giovanna Santoro"
						id="home-hero-image"
					/>
				</picture>
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}


	.hero-section__text h1 {
		/* text-align: center;
		background: linear-gradient(90deg, rgb(11, 11, 11), #fff, rgb(11, 11, 11));
		background-repeat: no-repeat;
		background-size: 70%;
		animation: animate 4s linear infinite;
		-webkit-background-clip: text;
		-webkit-text-fill-color: rgba(255, 255, 255, 0.5);
		-webkit-animation-direction: alternate;	 */
		transform: scale(0.94);
 		animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
	}

	span {
		display: inline-block;
		opacity: 0;
		filter: blur(4px);
		}
		span:nth-child(1) {
			animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(2) {
			animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(3) {
			animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(4) {
			animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(5) {
			animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(6) {
			animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(7) {
			animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(8) {
			animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(9) {
			animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(10) {
			animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(11) {
			animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(12) {
			animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(13) {
			animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(14) {
			animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		span:nth-child(15) {
			animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
			.hero-section__text h3 {
				display: inline-block;
				opacity: 0;
				filter: blur(4px);
				animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}


	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		/*  ----  */
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: 150px 300px 100px 300px;/* var(--theme-shape-radius); */
		animation: float 6s ease-in-out infinite;
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}

	@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	}

	/* @keyframes animate {
	0% {
		background-position: -500%;
	}
	100% {
		background-position: 500%;
	}
	} */

	@keyframes scale {
	100% {
		transform: scale(1);
	}
	}

	@keyframes fade-in {
	100% {
		opacity: 1;
		filter: blur(0);
	}
	}

</style>
