---
---

<p class="odyssey-logo">Giovanna Santoro 𝄞</p>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
		font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}

	@media (max-width: 768px) {
		.odyssey-logo {
			font-size: var(--font-size-sm);
		}
	}
</style>
